:host {
    display: block;
    width: 100%;
    cursor: pointer;
}

section {
    width: 100%;
    box-shadow: 1px 1px 6px 3px rgba(143, 143, 143, 0.2);
    background-color: #FFFFFF;
    padding: 10px 20px;

    & > * {
        margin: 5px 0px;
    }
}